*.class

# Package Files #
*.jar
*.war
*.ear

# Forge Files #
forge/client/*
forge/common/*
forge/fml/*
forge/patches/*
forge/*.py
forge/*.pyc
forge/*.properties
forge/install.*
forge/Minecraft*
forge/Paulscode*
forge/README*

forge/mcp/bin/*
forge/mcp/conf/*
forge/mcp/docs/*
forge/mcp/eclipse/*
forge/mcp/jars/*
forge/mcp/lib/*
forge/mcp/logs/*
forge/mcp/reobf/*
forge/mcp/runtime/*
forge/mcp/temp/*
forge/mcp/CHANGELOG
forge/mcp/*.bat
forge/mcp/*.sh
forge/mcp/*.txt

forge/mcp/src/minecraft/assets/forge/*
forge/mcp/src/minecraft/cpw/*
forge/mcp/src/minecraft/ibxm/*
forge/mcp/src/minecraft/paulscode/*
forge/mcp/src/minecraft/*.lzma
forge/mcp/src/minecraft/*.cfg
forge/mcp/src/minecraft/*.properties
forge/mcp/src/minecraft/*.png
forge/mcp/src/minecraft/*.cfg~
forge/mcp/src/minecraft/*.info
forge/mcp/src/minecraft/*.java

forge/mcp/src/minecraft/net/minecraft/*
forge/mcp/src/minecraft/net/minecraftforge/*

# Windows Files #
Thumbs.db
